<div class="course">
  <h2>{{ course?.description }}</h2>

  <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl" />

  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="xscrolling-container">
    <table
      matSort
      matSortDisableClear
      matSortActive="seqNo"
      matSortDirection="asc"
      mat-table
      multiTemplateDataRows
      class="lessons-table mat-elevation-z8"
      [dataSource]="lessons"
    >
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            [checked]="
              selection.hasValue() &&
              selection.selected?.length === lessons?.length
            "
            [indeterminate]="
              selection.hasValue() &&
              selection.selected?.length !== lessons?.length
            "
            (click)="$event.stopPropagation()"
            (change)="onAllLessonToggle()"
          ></mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let lesson">
          <mat-checkbox
            [checked]="selection.isSelected(lesson)"
            (click)="$event.stopPropagation()"
            (change)="onLessonToggle(lesson)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="seqNo" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>

        <td mat-cell *matCellDef="let lesson">{{ lesson.seqNo }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>

        <td mat-cell *matCellDef="let lesson">{{ lesson.description }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>

        <td class="duration-cell" mat-cell *matCellDef="let lesson">
          {{ lesson.duration }}
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let lesson" colspan="4">
          {{ lesson.longDescription }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>

      <tr
        mat-row
        *matRowDef="let lesson; columns: displayColumns"
        (click)="onToggleLesson(lesson)"
      ></tr>
      <tr
        mat-row
        *matRowDef="let lesson; columns: ['expandedDetail']"
        [class.collapsed-detail]="expandedLesson != lesson"
      ></tr>
    </table>
  </div>

  <mat-paginator
    class="mat-elevation-z8"
    [pageSize]="3"
    [pageSizeOptions]="[3, 5, 10]"
    [length]="course?.lessonsCount"
  ></mat-paginator>
</div>
